# Astro Runtime includes the following pre-installed providers packages: https://www.astronomer.io/docs/astro/runtime-image-architecture#provider-packages
apache-airflow-providers-amazon==9.36.0
apache-airflow-providers-snowflake==6.17.0
requests==2.34.2
tenacity==9.1.4
